.icons-raw {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.icons-raw__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-raw__icon i {
  font-size: 35px;
}

.icons-raw__icon span {
  margin-top: 18px;
}
